.filter{
    width: 20rem;   
    min-width: 20rem;
}

.mg-top{
    margin-top: 2rem;
}

.section-products{
    display: flex;
    gap: 2rem;
}

.carousel{
    .carousel-component{
        button{
            color: #000;
        }
    }

    .carousel-content{
        img{
            width: 100%;
        }
    }
}