.nav{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.section-basic-info{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;

    .right-content{
        display: flex;
        gap: 3rem;
        justify-content: space-between;

        .right-content__title-rate{
            text-align: left;

            h2{
                font-weight: 200;
            }
        }

        .price-payment-method{
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .price{
                font-size: 1.7rem;
                font-weight: bold;
                color: #0348B7;
            }
        
            .old-price{
                text-decoration: line-through;
                color: gray;
            }

            .card-img{
                width: 10rem;
            }
        }
    }

    .description{
        text-align: left;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }

    .description-more{
        display: block;
    }

    .description-no-more{
        display: -webkit-box;
    }

    .more{
        color: #0348B7;
        font-style: italic;
        text-align: left;
        cursor: pointer;
    }

    .content-security-card{
        display: flex;
        justify-content: flex-end;

        .security{
            background: #D3D8E0;
            border-radius: .5rem;
            display: flex;
            gap: 1rem;
            align-items: center;
            padding: .5rem;
    
            .icon{
                font-size: 2rem;
            }
    
            .text{
                margin: 0;
                text-align: left;
            }
    
            .text-1{
                font-weight: bold;
            }
    
            .text-2{
                font-size: .8rem;
            }
        }
    }

    .promotion{
        color: red;
        font-size: .7rem;
        text-align: right;
    }
}

.today-credit{
    display: flex;
    align-items: center;

    .circle{
        width: 10rem;
        height: 8rem;
        position: relative;
        
        .front{
            width: 100%;
            height: 100%;
            background: #FFD300;
            border-radius: 100%;
            align-content: center;

            p{
                margin: 0 auto;
                font-size: 3rem;
                font-weight: bold;
                color: #0348B7;
            }
        }

        .back{
            position: absolute;
            top: -8%;
            left: -10%;

            circle{
                fill: none;
                stroke-width: 1;
                transform: rotate(70deg);
                transform-origin: 50%;
                stroke-dasharray: 60 100;
                stroke: #0348B7;
            }
        }
    }

    .week-pay{
        position: relative;
        left: -4%;
        z-index: -1;
        margin-bottom: 2rem;
        max-width: 10rem;

        .front{
            width: 100%;
            --p: 60px; /* control the shape (can be percentage) */
            height: 150px;
            aspect-ratio: 1.2;
            clip-path: polygon(0 var(--p),100% 0,100% 100%,0 100%);
            background: #0348B7;
            border-radius: 1rem;
            align-content: end;

            .text{
                color: white;
                padding-right: 1rem;
                padding-bottom: .5rem;

                .text-1{
                    font-size: .5rem;
                    text-align: center;
                }

                .text-2{
                    font-size: 2.5rem;
                    font-weight: bold;
                    text-align: right;
                }

                .text-3{
                    font-size: .9rem;
                    text-align: right;
                }
            }
        }

        .dots{
            display: flex;
            justify-content: flex-end;
            gap: .2rem;
            margin-right: 1rem;
            margin-top: .2rem;
        }

        .back{
            border: 1px solid black;
            width: 8rem;
            height: 8rem;
            border-radius: 1rem;
            transform: rotate(-20deg);
            position: absolute;
            top: 16%;
            z-index: -1;
            display: flex;
            justify-content: flex-end;
            gap: .2rem;
            padding-right: .5rem;
            padding-top: .1rem;

        }

        .dot{
            width: 6px;
            height: 6px;
            background: #0348B7;
            border-radius: 100%;
        }
    }

    .steps{
        width: 100%;

        .content-steps{
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 1rem;
            background: white;
            border-radius: 1rem;
            padding: 1rem;
    
            .separator {
                height: 15px;
                aspect-ratio: cos(30deg);
                clip-path: polygon(0 0, 100% 50%, 0 100%);
                background: #FFD300;
              }
    
    
            .number{
                background: #4B566B;
                width: 2rem;
                height: 2rem;
                border-radius: 100%;
                align-content: center;
                color: white;
            }
        }

        .btn-container{
            display: flex;
            justify-content: flex-end;
            padding-right: 1rem;

            .btn-step{
                color: #0348B7;
                font-size: 1.2rem;
                padding: 1.2rem;
            }
        }
    }
}

.mg-0{
    margin: 0;
}
